# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# OS/editor
.DS_Store
.vscode/
.idea/

# Build/logs
build/
dist/
*.log
